<div class="p-grid p-justify-center">
    <div class="p-col-1"></div> <!--dodałem-->
    <div class="p-col-11"> <!--dodałem-->
  <ng-container *ngIf="WykresEData.length>0; else brakDanych">
      <p-tabView>
          <p-tabPanel header="Sterownik">
              <div class="p-grid p-justify-center">
                  <div class="p-col-6">
                    <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>
                  </div>
                  <div class="p-col-6">
                    <p-chart type="bar" [data]="dataPM" (onDataSelect)="selectData($event)"></p-chart>
                  </div>
                </div>
                <div class="p-grid p-justify-center">
                  <div class="p-col-6">
                    <p-chart type="bar" [data]="dataT" (onDataSelect)="selectData($event)"></p-chart>
                  </div>
                  <div class="p-col-6">
                    <p-chart type="bar" [data]="dataW" (onDataSelect)="selectData($event)"></p-chart>
                  </div>
                </div>
          </p-tabPanel>
          <p-tabPanel header="Prognoza podlewania">
            <app-prognoza></app-prognoza>
          </p-tabPanel>
          <p-tabPanel header="Camunda">
            <app-camunda-engine></app-camunda-engine>
          </p-tabPanel>
          <p-tabPanel header="Ustawienia">
            <app-ustawienia></app-ustawienia>
          </p-tabPanel>
      </p-tabView>

  </ng-container>
  <ng-template #brakDanych>
    <!--<p class="input-text">brak danych w logu</p>-->
    <h2>brak danych w logu</h2>
  </ng-template>
  </div> <!--dodałem-->
</div>
<div class="p-grid">
  <h2></h2>
</div>
<div class="p-grid p-justify-center">
  <div class="p-col-2">
    <button pButton type="button" class="ui-button-raised ui-button-success" label="Wszystko" (click)="getWszystkoESPData()"></button>
  </div>
  <div class="p-col-2">
    <button pButton type="button" class="ui-button-raised ui-button-success" label="Aktualne" (click)="getAktualneESPData()"></button>
  </div>
  <div class="p-col-2">
      <button pButton type="button" class="ui-button-raised ui-button-danger" label="Usuń" (click)="usun()"></button>
    </div>
</div>
