<div class="p-grid p-justify-center">
  <div class="p-col-2">
    <button pButton type="button" class="ui-button-raised ui-button-danger" label="Start Proces" (click)="Camunda1()"></button>
  </div>
  <div class="p-col-2">
    <button pButton type="button" class="ui-button-raised ui-button-success" label="Pobierz taski" (click)="Camunda2()"></button>
  </div>
  <div class="p-col-2">
    <button pButton type="button" class="ui-button-raised ui-button-success" label="Pobierz wartosci" (click)="Camunda3()"></button>
  </div>
  <div class="p-col-2">
    <button pButton type="button" class="ui-button-raised ui-button-success" label="Camunda4" (click)="Camunda4()"></button>
  </div>
</div>
