<p-toast [style]="{marginTop: '160px'}" position="top-right" key="tp"></p-toast>
<div class="p-grid p-justify-center">
    <ng-container *ngIf="EAlerty.length>0; else brakDanych">
      <div class="p-col-12">
        <p-chart type="pie" [data]="data"></p-chart>
      </div>
    </ng-container>
    <ng-template #brakDanych>
      <h3>brak alertów</h3>
    </ng-template>
</div>
<div class="p-grid">
  <h2></h2>
</div>
<div class="p-grid p-justify-center">
  <div class="p-col-5">
    <button pButton type="button" class="ui-button-raised ui-button-success" label="Wszystkie alerty" (click)="getWszystkieAlertyESPData()"></button>
  </div>
  <div class="p-col-2">
    <button pButton type="button" class="ui-button-raised ui-button-danger" label="Usuń" (click)="usunWszystkieAlerty()"></button>
  </div>
</div>
